<html>

<head>
        <link rel="icon" type="image/png" href="logo.png">
        <link  rel = "stylesheet" href = "../public/css/index.css">

        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

        <nav>
                <div id="nav" style="padding-top:0px; padding-left:10px">
                    <img src="logo.png" style="width: 100; height: 100;" >
                    <ul style="width:75%" >
                      <li ><a  href= "index.html">sinIn</a></li>
                      <li ><a class="active" href= "#">sineUP</a></li>
                      
                    </ul>
                </div>
                
            </nav>


            <section id="next">
                <h3>Startup Smarter</h3>
                <p>the best place to grow , think and invest</p>

                <img src="support.PNG">

                <form class="form-inline active-cyan-3 active-cyan-4">
                  <i class="fas fa-search" aria-hidden="true"></i>
                  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                </form>




            </section>


            <!--<section id="discribe">
                <h3 > Helping founders build investable companies </h3>
                <p>Mission-critical business tools. Powerful performance benchmarks. 
                Trusted fundraising recommendations.<br> Gust supports you at every point along your entrepreneurial 
                journey so when it’s time to raise money, you have <br>the best shot at investment. Get started on the path
                 to fundraising success:  </p>




            </section>-->

        <section class="last">
          <div class="container">
            <div class="row mb30">
              <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
                <h2>services we provide</h2>
                <p class="lead">Best way to for helping founders build investable companies,has powerful performance, come and join us.</p>
                
            </div>
            </div>
            <div id="circle">
            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
                  <i class="fas fa-plus"></i>
                </div>
                <div class="text">
                  <h3>Posting Ideas</h3>
                  <p>you can post your idea so as to get differnt comment and find investors to invest on you.</p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>
            </div>

            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <div class="text">
                  <h3>Communicate</h3>
                  <p>you can get many people on our site so  you can communicate with people and get different intiating ideas.</p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>

            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
 
                  <i class="fas fa-user-tie"></i>
                </div>
                <div class="text">
                  <h3>Expiriance</h3>
                  <p>you will get an amazing expiriance by enjoying us, you can see differnt ideas , you can comment on ideas. you cal also see comments </p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>
          

            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="text">
                  <h3>Busines idea</h3>
                  <p>you will get an amazing expiriance by enjoying us, you can see differnt ideas , you can comment on ideas. you cal also see comments </p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
                  <i class="far fa-lightbulb"></i>
                </div>
                <div class="text">
                  <h3>Different views</h3>
                  <p>you will get an amazing expiriance by enjoying us, you can see differnt ideas , you can comment on ideas. you cal also see comments </p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="service left-icon probootstrap-animate">
                <div class="icon">
                  <i class="fas fa-question-circle"></i>
                </div>
                <div class="text">
                  <h3>Support</h3>
                  <p>you will get an amazing expiriance by enjoying us, you can see differnt ideas , you can comment on ideas. you cal also see comments </p>
                  <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                </div>  
              </div>
            </div>
          
          
          
          
          
        </section>




    </body>




</html>